version: "2.1"
services:
  mongo:
    image: mongo
    ports: 
      - "27017:27017"
  # `docker-compose up node_api` to start api with mongo for local testing
  node_api:
    build: .
    ports: 
      - "3000:3000"
    depends_on:
      - mongo
    environment: 
      MONGO_CONNECTION_STRING: 'mongodb://mongo:27017/local'
    command: ["./scripts/wait-for-it.sh", "mongo:27017", "--", "node", "server.js"]
  # `docker-compose up postman_tests --abort-on-container-exit` to run postman api tests
  postman_tests:
    image: postman/newman
    depends_on: 
      - node_api
    volumes:
      - ./postman:/etc/newman
    command: 
      run NewmanTests.postman_collection.json 
      -e newman.postman_environment.json
      --reporters="json,cli"
    
  
